[% PROCESS form/macros.tt %]

[% WRAPPER form/wrapper.tt debug=1 %]
<p>
Please enter your new password:
</p>

<label for="password-field">Password:</label>
[% input_password( 'password', 'password-field' ) %]
<br />
<label for="password-field-verif">password verify:</label>
[% input_password( '2password', 'password-field-verif' ) %]

[% END %]

